[Unit]
Description=Hysteria Update

[Service]
ExecStart=/usr/bin/bash -c 'wget -q -O- https://raw.githubusercontent.com/wangxiaoerYah/Linux-config/main/Start/Hysteria/scripts/update.sh | bash'

[Install]
WantedBy=multi-user.target