[Unit]
Description=Update Hysteria
Wants=network.target network-online.target nss-lookup.target
After=network.target network-online.target nss-lookup.target

[Timer]
Unit=hysteria-update.service
OnCalendar=*-*-* 23:59:00
AccuracySec=1m
RandomizedDelaySec=1m
Persistent=true

[Install]
WantedBy=timers.target